<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale">
        <title>Text Analysis</title>
    </head>
    <body>
        <h1>Text Analysis</h1>
        <form action="/analiza" method="post">
            <label for="text">Enter Text:</label><br>
            <textarea id="text" name="text" rows="10" cols="50"></textarea><br>
            <button type="submit">Analyze</button>
        </form>
    </body>
</html>

