<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%- include("Partials/header") %>
<form action="/edit" method="post">
    <input type="hidden" name="artiklIndex" value="<%= artiklIndex %>">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="manufacturer" placeholder="Manufacturer">
    <input type="text" name="quantity" placeholder="Quantity">
    <input type="text" name="dayslefttouse" placeholder="Dayslefttouse">
    <input type="text" name="placewhereavailable" placeholder="Placewhereavailable">
    <button type="submit">Submit</button>

</form>
</body>
</html>